body {
  margin: 0px;
}

.navber {
  display: flex;
  padding-left: 10px;
  background: rgb(205, 201, 201);
}

.navber h3 {
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.list {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 550;
}

.list-item {
  border-radius: 10px;
  padding: 20px 10px 0px 20px;
  border: 1px solid rgb(209, 205, 205);
  height: 50px;
  margin: 10px;
  background: white;
  box-shadow: 10px 5px 5px rgb(147,146,146);
}

.Detail {
  padding: 20px;
  margin: 0px;
  background: rgb(69, 114, 116);
}

.Detail h1 {
  color: white;
  margin: 0;
  padding: 20px;
}

.Detail p {
  padding-left: 20px;
  color: floralwhite;
  font-size: 20px;
}

.new {
  padding: 20px;
  font-size: 20px;
  background: rgb(210, 155, 155);
}

.new-item {
  margin: 10px;
}

.new-item label {
  width: 100px;
}